@import "normalize_styles.css";

/**
* Color scheme:
* (handy to do a search-replace)
* #008ACC (header background)
* #006799 (header container bottom border, avatar border)
* #173B4C (nav item)
* #00344C (nav item hover)
* #FFFFFF (selected nav item, .content background
**/

* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
}

.skrollr-desktop body {
    height:100% !important;
}

body {
    font-family: "Bitter", "Times New Roman", serif;
    background: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', Arial, sans-serif;
}
p {
    margin:1em 0;
}

/*** STICKY HEADER ***/
.wrapper {
	position: relative;
}

.header-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 5em;
	width: 100%;
	z-index: 999;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    background: #008ACC;
    border-bottom: 20px solid #006799;
}

.header-container.smaller {
	height: 3em;
}

.header-container .navigation_container {
	display: inline-block;
}
header .menu-btn {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    width: 2em;
}

.menu-btn i {
    margin-top: 0.75em;
    font-size: 200%;
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.expand {
	display: block !important;
}

header .navigation_container {
	position: absolute;
	left: 0px;
	top: 0px;
    display: block;
}

header .avatar {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 1em;
	right: 0;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border: 5px solid #006799;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url('http://www.gravatar.com/avatar/152113479cea30685d6a4edad1bc5889.png') no-repeat;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

header .navigation_container .navigation,
header .navigation_container .navigation a,
header .navigation_container .navigation li {
	list-style: none;
	display: inline;
	font-family: 'Titillium Web', Arial, sans-serif;
	color: #173B4C;
	margin: 0 0.5em;
}


header .navigation_container .navigation a:hover {
    color: #00344C;
    text-decoration: underline;
}

header .navigation_container .navigation a,
header .navigation_container .navigation a:visited {
	text-decoration: none;
	line-height: 2.2;
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
	color: #173B4C;
}

header .navigation_container .navigation li .selected {
	font-size: 150%;
	display: inline-block;
	margin-top: 0.5em;
	color: #ffffff;
}

/** Shrunk version of the header */
.smaller .navigation_container {
	top: 0px;
}

.smaller .menu-btn i {
    font-size: 120%;
}
.smaller header .avatar {
	width: 60px;
	height: 60px;
	top: 0.6em;
}
.smaller header .navigation_container .navigation li .selected {
	font-size: 120%;
}
.smaller header .navigation_container .navigation a {
	font-size: 12px;
	line-height: 1.3;
}

@media screen and (max-width: 700px) {

	header .menu-btn {
        display: block;
    }
    .header-container .navigation_container {
        display: none;
    }
    .header-container .navigation_container.display {
        display: block;
    }

    header .navigation_container .navigation,
    .smaller header .navigation_container .navigation {
        border: 12px solid #008ACC;
        background: #006799;
        display: block;
        margin-top: 1em;
        margin-left: 2em;
    }

    .smaller header .navigation_container .navigation a,
    .smaller header .navigation_container .navigation a:visited {
        line-height: 2.2;
        font-size: inherit;
    }

    header .navigation_container .navigation li,
    .smaller header .navigation_container .navigation li {
        display: block;
        height: 2em;
    }

    header .navigation_container .navigation li .selected,
    .smaller header .navigation_container .navigation li .selected {
        margin-top: 0;
        font-size:100%;
        font-weight: bold;
    }

}

/** PARALLAX HEADER **/
.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
}

.parallax-image-wrapper-50 {
    height:50%;
    top:-50%;
}

.parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
}

.parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.parallax-image-50 {
    height:200%;
    top:-50%;
}

.parallax-image-100 {
    height:100%;
    top:0;
}

.parallax-image.skrollable-between {
    display:block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}

.gap {
    background:transparent center no-repeat;
    background-size:cover;
}

.skrollr .gap {
    background:transparent !important;
}

.gap-50 {
    height:50%;
}

.gap-100 {
    height:100%;
}
.price_container {
    float: right;
    font-weight: bold;
}

.introduction, .content {
    background:#ffffff;
    padding: 3em 5em;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.introduction {
    margin-top:10em;
    text-align: left;
}
ul.list {
    list-style: none;
}
ul.list.accented {
    margin: 1em 0em;
}

h4, h5 {
    margin-left: 12px;
}
#done {
    height:100%;
}

.tools {
    float: right;
    margin: 0em 0em 1em 3em;
    clear: right;
}

.tools ul,
.tools li {
    list-style: none;
}

.tools li {
    margin: 0.25em;
    padding: 0.5em 1em;
    background: #008ACC;
    color: white;
    font-size: 12px;
    border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
}

/** ERROR PAGE **/
.error  {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 1;
    text-align: center;
}
.error img {
    position: absolute;
    z-index:5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.error_message {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    margin-left: -10em;
    width: 20em;
    z-index:10;
    background: white;
    padding: 3em;
}

/** Main menu styling **/
.main_menu_body .background_image {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: 1;
}
.main_menu_body .background_image img {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.main_menu_body .main_content_container {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom:10em;
}

.main_menu_body .main_content_container .introduction,
.main_menu_body .main_content_container .content {
    text-align: left;
}
.main_menu_body ul.main_menu {
    list-style: none;
    display: inline-block;
}

.main_menu_body ul.main_menu li {
    display: inline-block;
    margin: 5em 2em;
    width: 20em;
}
@media screen and (min-width: 200px) {
    .main_menu_body ul.main_menu li {
        margin:5em;
    }
}

.main_menu_body ul.main_menu li span {
    color: #dddddd;
    font-size: 12px;
}

.main_menu_body ul.main_menu li a {
    text-decoration: none;
    color: #eeeeee;
    border-width: 1px 0px 1px 0px;
    padding: 25px;
    border-style: dotted;
    border-color: white;
    font-family: "Berkshire Swash", Helvetica, sans-serif;
    font-size:36px;
}

.main_menu_body ul.main_menu li a:hover {
    color: white;
    font-weight: bold;
}

.footer {
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
    background: white;
    -webkit-box-shadow: 0 -5px 10px #aaa;
    -moz-box-shadow: 0 -5px 10px #aaa;
    box-shadow: 0 -5px 10px #aaa;
}

.footer ul.footer_nav {
    list-style: none;
    float: left;
}

.footer ul.footer_nav.right {
    list-style: none;
    float: right;
}

.footer ul.footer_nav li {
    display: inline-block;
    margin:0.5em;
    position: relative;
}

.footer ul.footer_nav li a {
    text-decoration: none;
    color: black;
}

.footer ul.footer_nav li a span {
    display: none;
    font-size: 60%;
    line-height: 1;
    position: relative;
    bottom:0.2em;
}

.footer ul.footer_nav li a:hover span {
    display: inline;
}

.floated_image {
    float:left;
    width:25%;
    margin-right: 1em;
}

@media screen and (max-width: 700px) {
    .floated_image {
        width: 50%;
    }
}
@media screen and (max-width: 300px) {
    .floated_image {
        width: 100%;
    }
}