<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>${content['title']} | Bart Stroeken Resume</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Titillium+Web:300,400,700|Berkshire+Swash' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!--[if lt IE 9]>
        <script src="/static/js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
    <![endif]-->
</head>