<div class="header-container">
    <header class="wrapper clearfix">
        <img class="avatar" src="http://www.gravatar.com/avatar/152113479cea30685d6a4edad1bc5889.png" />
        <div class="menu-btn" id="menu-btn">
            <i class="fa fa-bars"></i>
        </div>
        <div class="navigation_container" id="navigation_container">
            <ul class="navigation">
                % for item in menu:
                    <li>
                        <a href="/${item}" title="${menu[item]}"
                        % if item == contentname:
                            class="selected"
                        % endif
                        >${item.replace('_', ' ')}</a>
                    </li>
                % endfor
            </ul>
        </div>
    </header>
</div>