<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

    <%include file="includes/head.html" />

    <body class="main_menu_body">
        <%include file="includes/navigation.html" args="menu=menu" />

        <div class="background_image">
            <img src="/static/images/chalkboard_background.jpg" alt="chalkboard" />
        </div>

        <div class="main_content_container" id="skrollr-body">
            <div class="introduction">
                <h1>${content['title']}</h1>
                ${content['introduction']}
            </div>
            % if content.get('items'):
                <ul class="main_menu">
                    % for item in content['items']:
                        <li class="${item['icon']}">
                            <a href="/${item['name'].replace(' ','_').lower()}">${item['name']}</a><br/>
                            <span>${item['description']}</span>
                        </li>
                    % endfor
                </ul>
            % endif
        </div>
        <%include file="includes/footer.html" />
    </body>
</html>
